@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Poppins:wght@500;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

.header {
  padding: 30px 0;
}
.header .header-wrap {
  display: flex;
  justify-content: space-between;
}
.header .header-wrap .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #334261;
  font-family: "Lalezar", cursive;
  font-size: 35px;
}
.header .header-wrap nav {
  min-width: 40%;
  text-align: center;
  display: inline-block;
  align-items: center;
}
.header .header-wrap nav ul {
  padding-top: 12px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header .header-wrap nav ul li a {
  color: #70798B;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}
.header .header-wrap nav ul li a:hover {
  text-decoration: underline;
  color: #000;
}
.header .header-wrap .header-link {
  position: relative;
  padding-top: 12px;
  color: #3D4B65;
}
.header .header-wrap .header-link:hover {
  text-decoration: underline;
}
.header .header-wrap .header-link span {
  position: relative;
  z-index: 100;
}
.header .header-wrap .header-link img {
  width: 20px;
}
.header .header-wrap .header-link::before {
  z-index: 1;
  content: "";
  position: absolute;
  background: url(./../img/header/figure.png) no-repeat;
  width: 112px;
  height: 117px;
  left: -32px;
  top: -50px;
  pointer-events: none;
}

.hero {
  padding: 43px 0 79px;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  background: url(./../img/hero/red-sofa.png) no-repeat;
  width: 391px;
  height: 499px;
  z-index: 0;
  scale: 70%;
  left: 0;
  top: 100px;
  opacity: 0.9;
}
.hero::after {
  content: "";
  position: absolute;
  background: url(./../img/hero/yellow-sofa.png) no-repeat;
  width: 281px;
  height: 313px;
  z-index: 1;
  top: 250px;
  right: 5%;
}
.hero .hero-wrap h1 {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Lalezar", cursive;
  color: #000958;
  font-size: 120px;
  text-align: center;
  font-weight: 400;
  line-height: 130px;
  z-index: 100;
}
.hero .hero-wrap h1 span {
  font-family: inherit;
  color: #D98585;
  text-shadow: -3px -11px hsla(0deg, 52%, 69%, 0.3);
}
.hero .hero-wrap .hero-text {
  text-align: center;
  margin: 0 auto;
  color: #70798B;
  max-width: 740px;
  font-size: 22px;
  margin-bottom: 56px;
  position: relative;
  z-index: 100;
}
.hero .hero-wrap .hero-buttons {
  display: flex;
  max-width: 384px;
  margin: 0 auto;
  padding-bottom: 135px;
  justify-content: space-between;
  position: relative;
}
.hero .hero-wrap .hero-buttons a {
  position: relative;
  z-index: 100;
  padding-top: 12px;
  color: #3D4B65;
  font-size: 22px;
}
.hero .hero-wrap .hero-buttons a:hover {
  text-decoration: underline;
}
.hero .hero-wrap .hero-buttons a.hero-red-btn {
  text-decoration: none;
  color: #FFF;
  padding: 15px 29px;
  background-color: #CB296D;
  border-radius: 10px;
  box-shadow: 0px 4px 38px rgba(203, 41, 109, 0.25);
  transition: 0.2s ease-in-out;
}
.hero .hero-wrap .hero-buttons a.hero-red-btn:hover {
  scale: 110%;
  background-color: #dd76a1;
  box-shadow: 0px 0px 14px #CB296D;
}
.hero .hero-wrap .hero-buttons a img {
  width: 20px;
  padding-top: 3px;
  margin-left: 8px;
}
.hero .hero-wrap .hero-advent {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.hero .hero-wrap .hero-advent__item {
  max-width: 365px;
  border-radius: 20px;
  padding: 30px 14px 30px 40px;
  box-shadow: 0px 0px 2px rgba(91, 214, 226, 0.35);
  display: flex;
}
.hero .hero-wrap .hero-advent__item img {
  width: 75px;
  height: 75px;
  margin-right: 16px;
  margin-top: 10px;
}
.hero .hero-wrap .hero-advent__item-text {
  padding-left: 22px;
}
.hero .hero-wrap .hero-advent__item-text h3 {
  color: #000958;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 18px;
}
.hero .hero-wrap .hero-advent__item-text p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.hero .hero-wrap .hero-advent .first {
  background: rgba(91, 214, 226, 0.1);
}
.hero .hero-wrap .hero-advent .first div {
  border-left: rgba(91, 214, 226, 0.35) 2px solid;
}
.hero .hero-wrap .hero-advent .second {
  background: rgba(255, 222, 222, 0.6);
}
.hero .hero-wrap .hero-advent .second div {
  border-left: #F9BABA 2px solid;
}
.hero .hero-wrap .hero-advent .third {
  background: rgba(254, 232, 190, 0.6);
}
.hero .hero-wrap .hero-advent .third div {
  border-left: #F3D498 2px solid;
}
.hero .hero-wrap .hero-partneers {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}
.hero .hero-wrap .hero-partneers a {
  display: block;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}
.hero .hero-wrap .hero-partneers a:hover {
  scale: 110%;
}

.shop {
  padding: 80px 0px;
  background: #FFF1E2;
}
.shop .shop-wrap .shop-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  align-items: center;
}
.shop .shop-wrap .shop-header h2 {
  padding-left: 10px;
  color: #000958;
  font-size: 60px;
  font-weight: 400;
  font-family: "Lalezar", cursive;
  line-height: 70px;
}
.shop .shop-wrap .shop-header a {
  position: relative;
  color: #000;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.shop .shop-wrap .shop-header a:hover {
  text-decoration: underline;
}
.shop .shop-wrap .shop-header a img {
  padding-top: 8px;
  width: 20px;
  margin-left: 8px;
}
.shop .shop-wrap .shop-menus-wrap {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: space-between;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu {
  background-color: #D98585;
  min-width: 373px;
  border-radius: 34px;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu .line {
  background-color: rgba(255, 255, 255, 0.4);
  height: 1px;
  width: 85%;
  margin: 0 auto;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu .active-item {
  background-color: rgba(241, 168, 168, 0.5);
}
.shop .shop-wrap .shop-menus-wrap .shop-menu__item {
  display: flex;
  padding: 21px 0 21px 52px;
  cursor: pointer;
  border-radius: 34px;
  transition: 0.3s ease-in-out;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu__item:hover {
  background-color: #bd6363;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu__item p {
  margin-left: 50px;
  align-self: center;
  color: #FFF;
  font-weight: 500;
  font-size: 27px;
  line-height: 30px;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu .arrow {
  display: none;
  margin-left: auto;
  width: 36px;
  height: 36px;
  align-self: center;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu .active-item .arrow {
  display: block;
}
.shop .shop-wrap .shop-menus-wrap .shop-menu #table {
  padding: 31px 0 31px 52px;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-around;
  -moz-column-gap: 15px;
       column-gap: 15px;
  transition: opacity 0.5s;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item {
  background-color: #FFFAF5;
  box-shadow: 0px 4px 4px #FFEAD3;
  border-radius: 20px;
  padding: 176px 32px 55px;
  margin-top: 60px;
  position: relative;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item .main-img {
  position: absolute;
  top: -70px;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item h3 {
  text-align: center;
  color: #656689;
  font-family: "Lalezar", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  padding-bottom: 10px;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item p {
  max-width: 304px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.379167px;
  color: #656689;
  padding-bottom: 20px;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item .buy {
  display: flex;
  justify-content: space-between;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item .buy a {
  color: #2C2E3F;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item .buy a span {
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  margin-right: 7px;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item .buy a img {
  position: relative;
  align-self: center;
  width: 22px;
}
.shop .shop-wrap .shop-menus-wrap .shop-showcase__item .buy a:hover {
  text-decoration: underline;
}
.shop .shop-wrap .shop-menus-wrap .hidden-showcase {
  opacity: 0;
}

.about {
  padding: 118px 0 62px;
}
.about .about-wrap {
  display: flex;
  justify-content: space-between;
}
.about .about-wrap img {
  margin-left: 15px;
}
.about .about-wrap .about-text {
  max-width: 760px;
  position: relative;
}
.about .about-wrap .about-text h2 {
  font-family: "Lalezar", cursive;
  color: #000958;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 40px;
  max-width: 674px;
}
.about .about-wrap .about-text h2 span {
  font-family: inherit;
  color: #D98585;
}
.about .about-wrap .about-text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #70798B;
}
.about .about-wrap .about-text__first {
  margin-bottom: 20px;
}
.about .about-wrap .about-text__second {
  margin-bottom: 150px;
}
.about .about-wrap .about-text a {
  text-decoration: none;
  color: #FFF;
  padding: 15px 29px;
  background-color: #CB296D;
  border-radius: 10px;
  box-shadow: 0px 4px 38px rgba(203, 41, 109, 0.25);
  transition: 0.3s ease-in-out;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: inline-block;
}
.about .about-wrap .about-text a:hover {
  scale: 120%;
  background-color: #dd76a1;
  box-shadow: 0px 0px 14px #CB296D;
}

.deals {
  padding: 62px 0 72px;
}
.deals .deals-wrap {
  position: relative;
  max-width: 95%;
  background-color: #D98585;
  border-radius: 40px;
  padding: 68px 86px;
  margin: 0 auto;
  min-height: 660px;
}
.deals .deals-wrap::after {
  content: "";
  position: absolute;
  background: url(./../img/deals/sofa.png) no-repeat;
  width: 80%;
  height: 458px;
  left: 10%;
  top: 400px;
  background-size: 100%;
}
.deals .deals-wrap .deals-list {
  display: flex;
  justify-content: space-between;
}
.deals .deals-wrap .deals-list .deals-item {
  max-width: 30%;
  background: #FFFAF5;
  box-shadow: -15px 30px 40px rgba(78, 25, 143, 0.1);
  border-radius: 20px;
  padding: 50px;
}
.deals .deals-wrap .deals-list .deals-item__head {
  margin-bottom: 30px;
  display: flex;
}
.deals .deals-wrap .deals-list .deals-item__head img {
  margin-right: 18px;
  transition: 0.3s all;
  max-height: 60px;
}
.deals .deals-wrap .deals-list .deals-item__head img:hover {
  scale: 110%;
}
.deals .deals-wrap .deals-list .deals-item__head h3 {
  color: #030314;
  margin-bottom: 9px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.deals .deals-wrap .deals-list .deals-item__head p {
  color: #625D69;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.deals .deals-wrap .deals-list .deals-item__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #70798B;
}

.faq {
  padding: 159px 0 135px;
}
.faq .faq-wrap h2 {
  text-align: center;
  font-family: "Lalezar", cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 94px;
  letter-spacing: -0.691667px;
  color: #2C2E3F;
  margin-bottom: 107px;
}
.faq .faq-wrap h2 span {
  font-family: inherit;
  color: #D98585;
}
.faq .faq-wrap .faq-list__item {
  padding: 40px 0 40px;
  border-bottom: 1px rgba(112, 121, 139, 0.5) solid;
}
.faq .faq-wrap .faq-list__item h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.415px;
  color: #656689;
}
.faq .faq-wrap .faq-list__item p {
  margin-top: 40px;
  display: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: -0.415px;
  color: #656689;
  transition: 0.4s;
  overflow: hidden;
}
.faq .faq-wrap .faq-list__item-head {
  position: relative;
}
.faq .faq-wrap .faq-list__item-head .plus {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 32px;
  width: 32px;
  right: 0;
  top: 0;
}
.faq .faq-wrap .faq-list__item-head .plus:hover {
  cursor: pointer;
}
.faq .faq-wrap .faq-list__item-head .plus .vert {
  position: absolute;
  right: 47%;
  transform: rotate(0);
  transition: 0.3s all;
}
.faq .faq-wrap .faq-list__item-head .plus .hori {
  position: absolute;
  right: 0;
  top: 47%;
}

.collections {
  padding: 108px 0 90px;
  background-color: #D98585;
}
.collections .collections-wrap {
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
.collections .collections-wrap .collections-main {
  padding-top: 30px;
}
.collections .collections-wrap h3 {
  font-family: "Lalezar", cursive;
  font-weight: 400;
  font-size: 45px;
  line-height: 27px;
  margin-bottom: 48px;
}
.collections .collections-wrap .vert-line {
  height: 230px;
  width: 3px;
  background: rgba(255, 241, 226, 0.3);
}
.collections .collections-wrap .collections-desc {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.466667px;
  max-width: 508px;
}
.collections .collections-wrap .collections-links h3 {
  font-size: 30px;
}
.collections .collections-wrap .collections-links a {
  text-decoration: underline;
  color: #fff;
  text-transform: capitalize;
  padding-right: 20px;
}
.collections .collections-wrap .collections-links__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.collections .collections-wrap .collections-form h3 {
  font-size: 30px;
  margin-bottom: 11px;
}
.collections .collections-wrap .collections-form form {
  margin-bottom: 30px;
}
.collections .collections-wrap .collections-form input {
  border-bottom: 2px solid #FFF1E2;
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.466667px;
}
.collections .collections-wrap .collections-form input::-moz-placeholder {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.466667px;
  color: rgba(255, 255, 255, 0.559);
}
.collections .collections-wrap .collections-form input:-ms-input-placeholder {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.466667px;
  color: rgba(255, 255, 255, 0.559);
}
.collections .collections-wrap .collections-form input::placeholder {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.466667px;
  color: rgba(255, 255, 255, 0.559);
}
.collections .collections-wrap .collections-form button {
  padding: 15px 23px 16px 26px;
  border: 2px solid #FFF1E2;
  filter: drop-shadow(0px 4px 38px rgba(203, 41, 109, 0.25));
  border-radius: 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-left: 24px;
  transition: 0.3s all;
}
.collections .collections-wrap .collections-form button:hover {
  scale: 105%;
}
.collections .collections-wrap .collections-form button:active {
  scale: 90%;
}
.collections .collections-wrap .collections-form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 456px;
}

.footer {
  background-color: #CF7878;
  color: #FFF1E2;
}
.footer .footer-wrap p {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.53px;
  padding: 34px 0;
}/*# sourceMappingURL=main.css.map */